In [2]:
import sys
sys.version_info

sys.version_info(major=3, minor=5, micro=2, releaselevel='final', serial=0)

In [3]:
import numpy as np
import pandas as pd

In [154]:
#read in the data
marathon_data = pd.read_csv("data.csv")
marathon_data = marathon_data.dropna()
marathon_data.head()

,Id,Name,Age Category,Sex,Rank,Time,Pace,Year
0,1,carlos enrique portugal quintero,30,M,1263,04:15:00,09:44,2016
1,2,leonel furlan,60,M,2289,05:05:42,11:41,2016
2,3,meredith gray,30,F,2276,05:04:34,11:38,2016
3,4,jason ainspan,35,M,670,3:52:57,08:53,2015
4,4,jason ainspan,35,M,2390,05:13:30,11:58,2016

In [156]:
marathon_data['Time'] = pd.to_timedelta(marathon_data['Time'])
#marathon_data['Pace'] = pd.to_timedelta(marathon_data['Pace'])
marathon_data['Time'].head()
#marathon_data['Pace'].head()

0   04:15:00
1   05:05:42
2   05:04:34
3   03:52:57
4   05:13:30
Name: Time, dtype: timedelta64[ns]

In [157]:
marathon_data.groupby('Year').get_group(2016)['Time'].mean()

Timedelta('0 days 04:32:55.103116')

In [158]:
marathon_data.groupby('Year').get_group(2015)['Time'].mean()

Timedelta('0 days 04:30:48.480377')

In [159]:
for yr in marathon_data.groupby('Year').groups: 
    print(yr, str(marathon_data.groupby('Year').get_group(yr)['Time'].mean()))
#here, we are trying to figure out which year was the half marathon (2013)
#Let's drop that year
marathon_data = marathon_data[marathon_data.Year != 2013]
#marathon_data.Year.value_counts()

2016 0 days 04:32:55.103116
2003 0 days 04:18:00.990378
2004 0 days 04:28:34.934463
2005 0 days 04:25:55.415105
2006 0 days 04:37:25.943564
2007 0 days 04:43:34.228222
2008 0 days 04:28:04.394986
2009 0 days 04:29:01.636166
2010 0 days 04:36:43.382291
2011 0 days 04:27:12.712468
2012 0 days 04:35:52.052658
2013 0 days 01:51:27.648069
2014 0 days 04:43:50.870375
2015 0 days 04:30:48.480377

In [160]:
marathon_data.Name.value_counts().sort_values().tail()
#Note: we see that some of the participants have the name set to private. we should probably drop these 
marathon_data = marathon_data[marathon_data.Name != "private"]
#marathon_data.Name.value_counts().sort_values().tail()
marathon_data = marathon_data[marathon_data.Name.str.contains("#") == False]
#get rid of one garbage name

In [161]:
marathon_data.sort_values("Name").head()

          Id            Name  Age Category Sex  Rank     Time   Pace  Year
3175    1941     aaron allen            25   M   267 03:28:52  07:59  2016
735      449  aaron anderson            35   M  2286 05:05:22  11:40  2016
16136  10644  aaron benscher            32   M  2048 05:30:48  12:37  2007
26891  19272    aaron butler            33   M  2109 04:35:30  10:30  2011
26892  19272    aaron butler            34   M  2813 05:03:01  11:33  2012

In [162]:
marathon_data.head()
marathon_data.tail()

,Id,Name,Age Category,Sex,Rank,Time,Pace,Year
38799,30413,mike willyoung,25,M,1455,04:27:21,10:12,2015
38800,30414,cheyenne smith,30,M,628,03:51:14,08:49,2015
38801,30415,regine wolf,45,F,511,03:44:54,08:35,2015
38802,30416,dimitri boutsikakis,35,M,640,03:51:36,08:50,2015
38803,30417,rodrigo pincheira,40,M,10,02:50:26,06:30,2015

In [136]:
marathon_data.sort_values('Time').head()
#This looks good (all the very low times are winners of the race, or close to it)

,Id,Name,Age Category,Sex,Rank,Time,Pace,Year
169,96,benazzouz slimani,40,M,1,02:24:56,05:32,2016
3291,2022,juan manuel martinez,40,M,2,02:41:52,06:11,2016
2345,1417,winston rheinbolt,40,M,3,02:42:03,06:12,2016
3931,2412,riveros gonzalez juan de dios,40,M,4,02:42:16,06:12,2016
4822,2987,jean-marc th,40,M,5,02:42:17,06:12,2016

In [178]:
marathon_data.groupby('Name').size().sort_values().tail(15)
#This is reasonable, we se that some people participated in the marathon each year that it occured

Name
wayne wright       12
joseph scott       12
mark platt         12
mike culp          12
juan carson        12
dennis marsella    12
matt duncan        12
bouchra franz      12
kenneth royster    12
tammy lopez        13
alan bloom         13
alexis garcia      13
tony jones         13
paul schoenlaub    13
norberto milan     13
dtype: int64

In [187]:
num_marathons = pd.Series(marathon_data.groupby('Name').size(), )
num_marathons.head()

Name
aaron allen       1
aaron anderson    1
aaron benscher    1
aaron butler      2
aaron carter      1
dtype: int64

In [185]:
pd.concat([marathon_data, num_marathons], keys = 'Name')

//anaconda/lib/python3.5/site-packages/pandas/indexes/api.py:71: RuntimeWarning: unorderable types: str() < int(), sort order is undefined for incomparable objects
  result = result.union(other)

                       Id                              Name  Age Category  \
  Name
N 0                   1.0  carlos enrique portugal quintero          30.0
  1                   2.0                     leonel furlan          60.0
  2                   3.0                     meredith gray          30.0
  3                   4.0                     jason ainspan          35.0
  4                   4.0                     jason ainspan          35.0
  5                   5.0                      marcela todd          40.0
  6                   5.0                      marcela todd          42.0
  7                   5.0                      marcela todd          38.0
  8                   5.0                      marcela todd          36.0
  9                   5.0                      marcela todd          37.0
  10                  5.0                      marcela todd          35.0
  11                  5.0                      marcela todd          39.0
  12                  5.0                      marcela todd          34.0
  13                  5.0                      marcela todd          40.0
  14                  6.0                luigi carrasquilla          45.0
  15                  7.0                     inaki mendoza          42.0
  16                  7.0                     inaki mendoza          40.0
  17                  8.0              veronica lobos ortiz          30.0
  18                  9.0                      daniel loebl          52.0
  19                  9.0                      daniel loebl          50.0
  20                  9.0                      daniel loebl          50.0
  21                  9.0                      daniel loebl          50.0
  22                 10.0        jeisson valderrama aguirre          25.0
  23                 11.0               caroline cunningham          41.0
  24                 11.0               caroline cunningham          40.0
  25                 11.0               caroline cunningham          40.0
  26                 12.0                   kelley anderson          20.0
  27                 12.0                   kelley anderson          30.0
  28                 13.0          ignacio lopez-mancisidor          30.0
  29                 14.0                    arielle rogers          25.0
...                   ...                               ...           ...
a zenny mera-ayala    NaN                               NaN           NaN
  zepherinus joseph   NaN                               NaN           NaN
  zev alexander       NaN                               NaN           NaN
  zev lipsky          NaN                               NaN           NaN
  zhengyu liang       NaN                               NaN           NaN
  zhong huang         NaN                               NaN           NaN
  ziad abikaram       NaN                               NaN           NaN
  zildomar machado    NaN                               NaN           NaN
  zimena granada      NaN                               NaN           NaN
  zina cappiello      NaN                               NaN           NaN
  zina francis        NaN                               NaN           NaN
  zirka markewycz     NaN                               NaN           NaN
  zissy lewin         NaN                               NaN           NaN
  zoe plasencia       NaN                               NaN           NaN
  zoe shea            NaN                               NaN           NaN
  zoila araica        NaN                               NaN           NaN
  zoilamys martinez   NaN                               NaN           NaN
  zoltan kerner       NaN                               NaN           NaN
  zora luckett        NaN                               NaN           NaN
  zoraida borrero     NaN                               NaN           NaN
  zoraida ortiz       NaN                               NaN           NaN
  zoraida travis      NaN                               NaN           NaN
  zsofia inhauzer     NaN                               NaN           NaN
  zsolt dzsupin       NaN                               NaN           NaN
  zulema garraffo     NaN                               NaN           NaN
  zulma mejia         NaN                               NaN           NaN
  zvi kushner         NaN                               NaN           NaN
  zvonko kutle        NaN                               NaN           NaN
  zvonko smlatic      NaN                               NaN           NaN
  Ævar sveinsson      NaN                               NaN           NaN

                     Sex    Rank     Time   Pace    Year    0
  Name
N 0                    M  1263.0 04:15:00  09:44  2016.0  NaN
  1                    M  2289.0 05:05:42  11:41  2016.0  NaN
  2                    F  2276.0 05:04:34  11:38  2016.0  NaN
  3                    M   670.0 03:52:57  08:53  2015.0  NaN
  4                    M  2390.0 05:13:30  11:58  2016.0  NaN
  5                    F  2608.0 05:28:34  12:33  2016.0  NaN
  6                    F  3086.0 05:43:14  13:06  2014.0  NaN
  7                    F  2455.0 05:29:04  12:33  2010.0  NaN
  8                    F  2343.0 05:28:49  12:33  2008.0  NaN
  9                    F  2415.0 05:27:27  12:29  2009.0  NaN
  10                   F  2002.0 05:26:12  12:27  2007.0  NaN
  11                   F  3140.0 05:28:24  12:32  2011.0  NaN
  12                   F  2013.0 05:29:32  12:34  2006.0  NaN
  13                   F  3329.0 05:28:35  12:32  2012.0  NaN
  14                   M  1845.0 04:42:23  10:47  2016.0  NaN
  15                   M   821.0 04:04:43  09:20  2014.0  NaN
  16                   M   384.0 03:36:03  08:15  2016.0  NaN
  17                   F   912.0 03:59:14  09:08  2016.0  NaN
  18                   M  2023.0 04:49:36  11:03  2014.0  NaN
  19                   M  1637.0 04:21:11  09:58  2012.0  NaN
  20                   M  1281.0 04:20:06  09:55  2015.0  NaN
  21                   M  2620.0 05:29:48  12:36  2016.0  NaN
  22                   M  1934.0 04:46:13  10:56  2016.0  NaN
  23                   F  3260.0 05:58:45  13:41  2014.0  NaN
  24                   F  2372.0 05:27:53  12:30  2015.0  NaN
  25                   F  2055.0 04:51:47  11:09  2016.0  NaN
  26                   F   954.0 04:00:43  09:12  2016.0  NaN
  27                   F   588.0 03:46:15  08:39  2016.0  NaN
  28                   M    21.0 02:58:33  06:49  2016.0  NaN
  29                   F   934.0 03:59:52  09:10  2016.0  NaN
...                  ...     ...      ...    ...     ...  ...
a zenny mera-ayala   NaN     NaN      NaT    NaN     NaN  1.0
  zepherinus joseph  NaN     NaN      NaT    NaN     NaN  1.0
  zev alexander      NaN     NaN      NaT    NaN     NaN  1.0
  zev lipsky         NaN     NaN      NaT    NaN     NaN  1.0
  zhengyu liang      NaN     NaN      NaT    NaN     NaN  1.0
  zhong huang        NaN     NaN      NaT    NaN     NaN  2.0
  ziad abikaram      NaN     NaN      NaT    NaN     NaN  2.0
  zildomar machado   NaN     NaN      NaT    NaN     NaN  1.0
  zimena granada     NaN     NaN      NaT    NaN     NaN  1.0
  zina cappiello     NaN     NaN      NaT    NaN     NaN  1.0
  zina francis       NaN     NaN      NaT    NaN     NaN  1.0
  zirka markewycz    NaN     NaN      NaT    NaN     NaN  1.0
  zissy lewin        NaN     NaN      NaT    NaN     NaN  1.0
  zoe plasencia      NaN     NaN      NaT    NaN     NaN  1.0
  zoe shea           NaN     NaN      NaT    NaN     NaN  1.0
  zoila araica       NaN     NaN      NaT    NaN     NaN  2.0
  zoilamys martinez  NaN     NaN      NaT    NaN     NaN  1.0
  zoltan kerner      NaN     NaN      NaT    NaN     NaN  1.0
  zora luckett       NaN     NaN      NaT    NaN     NaN  3.0
  zoraida borrero    NaN     NaN      NaT    NaN     NaN  1.0
  zoraida ortiz      NaN     NaN      NaT    NaN     NaN  2.0
  zoraida travis     NaN     NaN      NaT    NaN     NaN  1.0
  zsofia inhauzer    NaN     NaN      NaT    NaN     NaN  2.0
  zsolt dzsupin      NaN     NaN      NaT    NaN     NaN  1.0
  zulema garraffo    NaN     NaN      NaT    NaN     NaN  3.0
  zulma mejia        NaN     NaN      NaT    NaN     NaN  1.0
  zvi kushner        NaN     NaN      NaT    NaN     NaN  1.0
  zvonko kutle       NaN     NaN      NaT    NaN     NaN  1.0
  zvonko smlatic     NaN     NaN      NaT    NaN     NaN  1.0
  Ævar sveinsson     NaN     NaN      NaT    NaN     NaN  1.0

[62188 rows x 9 columns]