In [241]:
import sys
sys.version_info

sys.version_info(major=3, minor=5, micro=2, releaselevel='final', serial=0)

In [284]:
import numpy as np
import pandas as pd

In [286]:
pd.set_option('display.max_columns', None)

In [243]:
#read in the data
marathon_data = pd.read_csv("data.csv")
marathon_data = marathon_data.dropna()
marathon_data.head()

,Id,Name,Age Category,Sex,Rank,Time,Pace,Year
0,1,carlos enrique portugal quintero,30,M,1263,04:15:00,09:44,2016
1,2,leonel furlan,60,M,2289,05:05:42,11:41,2016
2,3,meredith gray,30,F,2276,05:04:34,11:38,2016
3,4,jason ainspan,35,M,670,3:52:57,08:53,2015
4,4,jason ainspan,35,M,2390,05:13:30,11:58,2016

In [244]:
marathon_data['Time'] = pd.to_timedelta(marathon_data['Time'])
#marathon_data['Pace'] = pd.to_timedelta(marathon_data['Pace'])
marathon_data['Time'].head()
#marathon_data['Pace'].head()

0   04:15:00
1   05:05:42
2   05:04:34
3   03:52:57
4   05:13:30
Name: Time, dtype: timedelta64[ns]

In [245]:
marathon_data.groupby('Year').get_group(2016)['Time'].mean()

Timedelta('0 days 04:32:55.103116')

In [246]:
marathon_data.groupby('Year').get_group(2015)['Time'].mean()

Timedelta('0 days 04:30:48.480377')

In [247]:
for yr in marathon_data.groupby('Year').groups: 
    print(yr, str(marathon_data.groupby('Year').get_group(yr)['Time'].mean()))
#here, we are trying to figure out which year was the half marathon (2013)
#Let's drop that year
marathon_data = marathon_data[marathon_data.Year != 2013]
#marathon_data.Year.value_counts()

2016 0 days 04:32:55.103116
2003 0 days 04:18:00.990378
2004 0 days 04:28:34.934463
2005 0 days 04:25:55.415105
2006 0 days 04:37:25.943564
2007 0 days 04:43:34.228222
2008 0 days 04:28:04.394986
2009 0 days 04:29:01.636166
2010 0 days 04:36:43.382291
2011 0 days 04:27:12.712468
2012 0 days 04:35:52.052658
2013 0 days 01:51:27.648069
2014 0 days 04:43:50.870375
2015 0 days 04:30:48.480377

In [248]:
marathon_data.Name.value_counts().sort_values().tail()
#Note: we see that some of the participants have the name set to private. we should probably drop these 
marathon_data = marathon_data[marathon_data.Name != "private"]
#marathon_data.Name.value_counts().sort_values().tail()
marathon_data = marathon_data[marathon_data.Name.str.contains("#") == False]
#get rid of one garbage name

In [249]:
marathon_data.sort_values("Name").head()

          Id            Name  Age Category Sex  Rank     Time   Pace  Year
3175    1941     aaron allen            25   M   267 03:28:52  07:59  2016
735      449  aaron anderson            35   M  2286 05:05:22  11:40  2016
16136  10644  aaron benscher            32   M  2048 05:30:48  12:37  2007
26891  19272    aaron butler            33   M  2109 04:35:30  10:30  2011
26892  19272    aaron butler            34   M  2813 05:03:01  11:33  2012

In [250]:
marathon_data.head()
marathon_data.tail()

,Id,Name,Age Category,Sex,Rank,Time,Pace,Year
38799,30413,mike willyoung,25,M,1455,04:27:21,10:12,2015
38800,30414,cheyenne smith,30,M,628,03:51:14,08:49,2015
38801,30415,regine wolf,45,F,511,03:44:54,08:35,2015
38802,30416,dimitri boutsikakis,35,M,640,03:51:36,08:50,2015
38803,30417,rodrigo pincheira,40,M,10,02:50:26,06:30,2015

In [251]:
marathon_data.sort_values('Time').head()
#This looks good (all the very low times are winners of the race, or close to it)

,Id,Name,Age Category,Sex,Rank,Time,Pace,Year
5268,3243,david ruto,23,M,1,02:12:22,05:03,2003
7631,4390,otavio dos santos p,29,M,2,02:12:23,05:03,2003
6621,3816,kiplimo rono,32,M,3,02:12:40,05:03,2003
24807,17531,tesfaye alemayehu,25,M,1,02:12:57,05:04,2011
8341,4853,william gomez amori,25,M,1,02:14:42,05:08,2004

In [252]:
marathon_data.groupby('Name').size().sort_values().tail(15)
#This is reasonable, we se that some people participated in the marathon each year that it occured

Name
wayne wright       12
joseph scott       12
mark platt         12
mike culp          12
juan carson        12
dennis marsella    12
matt duncan        12
bouchra franz      12
kenneth royster    12
tammy lopez        13
alan bloom         13
alexis garcia      13
tony jones         13
paul schoenlaub    13
norberto milan     13
dtype: int64

In [253]:
num_marathons = marathon_data.groupby('Name').size().reset_index()
num_marathons.columns = ["Name","Num"]
num_marathons.head()

             Name  Num
0     aaron allen    1
1  aaron anderson    1
2  aaron benscher    1
3    aaron butler    2
4    aaron carter    1

In [254]:
pd.concat([marathon_data, num_marathons])

,Age Category,Id,Name,Num,Pace,Rank,Sex,Time,Year
0,30.0,1.0,carlos enrique portugal quintero,NaN,09:44,1263.0,M,04:15:00,2016.0
1,60.0,2.0,leonel furlan,NaN,11:41,2289.0,M,05:05:42,2016.0
2,30.0,3.0,meredith gray,NaN,11:38,2276.0,F,05:04:34,2016.0
3,35.0,4.0,jason ainspan,NaN,08:53,670.0,M,03:52:57,2015.0
4,35.0,4.0,jason ainspan,NaN,11:58,2390.0,M,05:13:30,2016.0
5,40.0,5.0,marcela todd,NaN,12:33,2608.0,F,05:28:34,2016.0
6,42.0,5.0,marcela todd,NaN,13:06,3086.0,F,05:43:14,2014.0
7,38.0,5.0,marcela todd,NaN,12:33,2455.0,F,05:29:04,2010.0
8,36.0,5.0,marcela todd,NaN,12:33,2343.0,F,05:28:49,2008.0
9,37.0,5.0,marcela todd,NaN,12:29,2415.0,F,05:27:27,2009.0
10,35.0,5.0,marcela todd,NaN,12:27,2002.0,F,05:26:12,2007.0
11,39.0,5.0,marcela todd,NaN,12:32,3140.0,F,05:28:24,2011.0
12,34.0,5.0,marcela todd,NaN,12:34,2013.0,F,05:29:32,2006.0
13,40.0,5.0,marcela todd,NaN,12:32,3329.0,F,05:28:35,2012.0
14,45.0,6.0,luigi carrasquilla,NaN,10:47,1845.0,M,04:42:23,2016.0
15,42.0,7.0,inaki mendoza,NaN,09:20,821.0,M,04:04:43,2014.0
16,40.0,7.0,inaki mendoza,NaN,08:15,384.0,M,03:36:03,2016.0
17,30.0,8.0,veronica lobos ortiz,NaN,09:08,912.0,F,03:59:14,2016.0
18,52.0,9.0,daniel loebl,NaN,11:03,2023.0,M,04:49:36,2014.0
19,50.0,9.0,daniel loebl,NaN,09:58,1637.0,M,04:21:11,2012.0
20,50.0,9.0,daniel loebl,NaN,09:55,1281.0,M,04:20:06,2015.0
21,50.0,9.0,daniel loebl,NaN,12:36,2620.0,M,05:29:48,2016.0
22,25.0,10.0,jeisson valderrama aguirre,NaN,10:56,1934.0,M,04:46:13,2016.0
23,41.0,11.0,caroline cunningham,NaN,13:41,3260.0,F,05:58:45,2014.0
24,40.0,11.0,caroline cunningham,NaN,12:30,2372.0,F,05:27:53,2015.0
25,40.0,11.0,caroline cunningham,NaN,11:09,2055.0,F,04:51:47,2016.0
26,20.0,12.0,kelley anderson,NaN,09:12,954.0,F,04:00:43,2016.0
27,30.0,12.0,kelley anderson,NaN,08:39,588.0,F,03:46:15,2016.0
28,30.0,13.0,ignacio lopez-mancisidor,NaN,06:49,21.0,M,02:58:33,2016.0
29,25.0,14.0,arielle rogers,NaN,09:10,934.0,F,03:59:52,2016.0
...,...,...,...,...,...,...,...,...,...
27438,NaN,NaN,zenny mera-ayala,1.0,NaN,NaN,NaN,NaT,NaN
27439,NaN,NaN,zepherinus joseph,1.0,NaN,NaN,NaN,NaT,NaN
27440,NaN,NaN,zev alexander,1.0,NaN,NaN,NaN,NaT,NaN
27441,NaN,NaN,zev lipsky,1.0,NaN,NaN,NaN,NaT,NaN
27442,NaN,NaN,zhengyu liang,1.0,NaN,NaN,NaN,NaT,NaN
27443,NaN,NaN,zhong huang,2.0,NaN,NaN,NaN,NaT,NaN
27444,NaN,NaN,ziad abikaram,2.0,NaN,NaN,NaN,NaT,NaN
27445,NaN,NaN,zildomar machado,1.0,NaN,NaN,NaN,NaT,NaN
27446,NaN,NaN,zimena granada,1.0,NaN,NaN,NaN,NaT,NaN
27447,NaN,NaN,zina cappiello,1.0,NaN,NaN,NaN,NaT,NaN
27448,NaN,NaN,zina francis,1.0,NaN,NaN,NaN,NaT,NaN
27449,NaN,NaN,zirka markewycz,1.0,NaN,NaN,NaN,NaT,NaN
27450,NaN,NaN,zissy lewin,1.0,NaN,NaN,NaN,NaT,NaN
27451,NaN,NaN,zoe plasencia,1.0,NaN,NaN,NaN,NaT,NaN
27452,NaN,NaN,zoe shea,1.0,NaN,NaN,NaN,NaT,NaN
27453,NaN,NaN,zoila araica,2.0,NaN,NaN,NaN,NaT,NaN
27454,NaN,NaN,zoilamys martinez,1.0,NaN,NaN,NaN,NaT,NaN
27455,NaN,NaN,zoltan kerner,1.0,NaN,NaN,NaN,NaT,NaN
27456,NaN,NaN,zora luckett,3.0,NaN,NaN,NaN,NaT,NaN
27457,NaN,NaN,zoraida borrero,1.0,NaN,NaN,NaN,NaT,NaN
27458,NaN,NaN,zoraida ortiz,2.0,NaN,NaN,NaN,NaT,NaN
27459,NaN,NaN,zoraida travis,1.0,NaN,NaN,NaN,NaT,NaN
27460,NaN,NaN,zsofia inhauzer,2.0,NaN,NaN,NaN,NaT,NaN
27461,NaN,NaN,zsolt dzsupin,1.0,NaN,NaN,NaN,NaT,NaN
27462,NaN,NaN,zulema garraffo,3.0,NaN,NaN,NaN,NaT,NaN
27463,NaN,NaN,zulma mejia,1.0,NaN,NaN,NaN,NaT,NaN
27464,NaN,NaN,zvi kushner,1.0,NaN,NaN,NaN,NaT,NaN
27465,NaN,NaN,zvonko kutle,1.0,NaN,NaN,NaN,NaT,NaN
27466,NaN,NaN,zvonko smlatic,1.0,NaN,NaN,NaN,NaT,NaN
27467,NaN,NaN,Ævar sveinsson,1.0,NaN,NaN,NaN,NaT,NaN

In [255]:
marathon_data.drop_index = marathon_data.Name

In [262]:
del marathon_data["Pace"]
marathon_data.head()

KeyError: 'Pace'

In [273]:
marathon_data.head()

   Id                              Name  Age Category Sex  Rank     Time  Year
0   1  carlos enrique portugal quintero            30   M  1263 04:15:00  2016
1   2                     leonel furlan            60   M  2289 05:05:42  2016
2   3                     meredith gray            30   F  2276 05:04:34  2016
3   4                     jason ainspan            35   M   670 03:52:57  2015
4   4                     jason ainspan            35   M  2390 05:13:30  2016

In [258]:
pd.melt(marathon_data, id_vars = ["Name", "Age Category","Sex","Year"], value_vars = ["Rank","Time"])

,Name,Age Category,Sex,Year,variable,value
0,carlos enrique portugal quintero,30,M,2016,Rank,1263
1,leonel furlan,60,M,2016,Rank,2289
2,meredith gray,30,F,2016,Rank,2276
3,jason ainspan,35,M,2015,Rank,670
4,jason ainspan,35,M,2016,Rank,2390
5,marcela todd,40,F,2016,Rank,2608
6,marcela todd,42,F,2014,Rank,3086
7,marcela todd,38,F,2010,Rank,2455
8,marcela todd,36,F,2008,Rank,2343
9,marcela todd,37,F,2009,Rank,2415
10,marcela todd,35,F,2007,Rank,2002
11,marcela todd,39,F,2011,Rank,3140
12,marcela todd,34,F,2006,Rank,2013
13,marcela todd,40,F,2012,Rank,3329
14,luigi carrasquilla,45,M,2016,Rank,1845
15,inaki mendoza,42,M,2014,Rank,821
16,inaki mendoza,40,M,2016,Rank,384
17,veronica lobos ortiz,30,F,2016,Rank,912
18,daniel loebl,52,M,2014,Rank,2023
19,daniel loebl,50,M,2012,Rank,1637
20,daniel loebl,50,M,2015,Rank,1281
21,daniel loebl,50,M,2016,Rank,2620
22,jeisson valderrama aguirre,25,M,2016,Rank,1934
23,caroline cunningham,41,F,2014,Rank,3260
24,caroline cunningham,40,F,2015,Rank,2372
25,caroline cunningham,40,F,2016,Rank,2055
26,kelley anderson,20,F,2016,Rank,954
27,kelley anderson,30,F,2016,Rank,588
28,ignacio lopez-mancisidor,30,M,2016,Rank,21
29,arielle rogers,25,F,2016,Rank,934
...,...,...,...,...,...,...
69410,leonardo zraick,40,M,2015,Time,0 days 05:07:02
69411,jose rafael aguilar chacon,35,M,2015,Time,0 days 04:31:21
69412,luchy lopez,30,M,2015,Time,0 days 04:04:36
69413,azucena rios,25,F,2015,Time,0 days 05:19:22
69414,felicia johnson,35,F,2015,Time,0 days 06:13:56
69415,veronica hernandez,40,F,2015,Time,0 days 03:54:39
69416,michael losacco,25,M,2015,Time,0 days 05:23:45
69417,k r haga,45,M,2015,Time,0 days 04:12:55
69418,michelle willis,40,F,2015,Time,0 days 04:53:09
69419,oliver cuason,35,M,2015,Time,0 days 04:47:21
69420,icky martinez,30,F,2015,Time,0 days 06:44:56
69421,nicole l mary,35,F,2015,Time,0 days 04:07:35
69422,maria de los angeles peralta,35,F,2015,Time,0 days 02:39:33
69423,leopoldo nieto,40,M,2015,Time,0 days 03:53:11
69424,kelly knoll,40,F,2015,Time,0 days 03:26:55
69425,alexandra odom,40,F,2015,Time,0 days 05:16:50
69426,alden pinnell,40,M,2015,Time,0 days 03:54:19
69427,adrian paul,30,M,2015,Time,0 days 03:26:59
69428,catherine hunter,40,F,2015,Time,0 days 04:04:57
69429,carlos gonzalo estrada pazos,35,M,2015,Time,0 days 04:17:02
69430,roberta brocca,45,F,2015,Time,0 days 04:24:15
69431,gabriel azar,55,M,2015,Time,0 days 03:49:20
69432,michelle lawrence,25,F,2015,Time,0 days 04:35:21
69433,margaret(peggy) rosier,55,F,2015,Time,0 days 05:35:10
69434,amy rogers,30,F,2015,Time,0 days 04:52:48
69435,mike willyoung,25,M,2015,Time,0 days 04:27:21
69436,cheyenne smith,30,M,2015,Time,0 days 03:51:14
69437,regine wolf,45,F,2015,Time,0 days 03:44:54
69438,dimitri boutsikakis,35,M,2015,Time,0 days 03:51:36
69439,rodrigo pincheira,40,M,2015,Time,0 days 02:50:26

In [356]:
data_pivot = pd.pivot_table(marathon_data, index = ["Name", "Sex"], columns = "Year", values = ["Rank","Age Category", "Time"], aggfunc= "first")
data_pivot.head()

                    Rank                                                  \
Year                2003  2004  2005  2006  2007  2008  2009  2010  2011
Name           Sex
aaron allen    M    None  None  None  None  None  None  None  None  None
aaron anderson M    None  None  None  None  None  None  None  None  None
aaron benscher M    None  None  None  None  2048  None  None  None  None
aaron butler   M    None  None  None  None  None  None  None  None  2109
aaron carter   M    None   803  None  None  None  None  None  None  None

                                           Age Category                    \
Year                2012  2014  2015  2016         2003  2004  2005  2006
Name           Sex
aaron allen    M    None  None  None   267         None  None  None  None
aaron anderson M    None  None  None  2286         None  None  None  None
aaron benscher M    None  None  None  None         None  None  None  None
aaron butler   M    2813  None  None  None         None  None  None  None
aaron carter   M    None  None  None  None         None    19  None  None

                                                                          \
Year                2007  2008  2009  2010  2011  2012  2014  2015  2016
Name           Sex
aaron allen    M    None  None  None  None  None  None  None  None    25
aaron anderson M    None  None  None  None  None  None  None  None    35
aaron benscher M      32  None  None  None  None  None  None  None  None
aaron butler   M    None  None  None  None    33    34  None  None  None
aaron carter   M    None  None  None  None  None  None  None  None  None

                    Time                                                      \
Year                2003             2004  2005  2006             2007  2008
Name           Sex
aaron allen    M    None             None  None  None             None  None
aaron anderson M    None             None  None  None             None  None
aaron benscher M    None             None  None  None  0 days 05:30:48  None
aaron butler   M    None             None  None  None             None  None
aaron carter   M    None  0 days 04:17:16  None  None             None  None

                                                                              \
Year                2009  2010             2011             2012  2014  2015
Name           Sex
aaron allen    M    None  None             None             None  None  None
aaron anderson M    None  None             None             None  None  None
aaron benscher M    None  None             None             None  None  None
aaron butler   M    None  None  0 days 04:35:30  0 days 05:03:01  None  None
aaron carter   M    None  None             None             None  None  None


Year                           2016
Name           Sex
aaron allen    M    0 days 03:28:52
aaron anderson M    0 days 05:05:22
aaron benscher M               None
aaron butler   M               None
aaron carter   M               None

In [357]:
data_pivot["Num Marathons"] = data_pivot.apply(lambda x: (x.count() - 1) / 2, axis = 1)
data_pivot.head()

                    Rank                                                  \
Year                2003  2004  2005  2006  2007  2008  2009  2010  2011
Name           Sex
aaron allen    M    None  None  None  None  None  None  None  None  None
aaron anderson M    None  None  None  None  None  None  None  None  None
aaron benscher M    None  None  None  None  2048  None  None  None  None
aaron butler   M    None  None  None  None  None  None  None  None  2109
aaron carter   M    None   803  None  None  None  None  None  None  None

                                           Age Category                    \
Year                2012  2014  2015  2016         2003  2004  2005  2006
Name           Sex
aaron allen    M    None  None  None   267         None  None  None  None
aaron anderson M    None  None  None  2286         None  None  None  None
aaron benscher M    None  None  None  None         None  None  None  None
aaron butler   M    2813  None  None  None         None  None  None  None
aaron carter   M    None  None  None  None         None    19  None  None

                                                                          \
Year                2007  2008  2009  2010  2011  2012  2014  2015  2016
Name           Sex
aaron allen    M    None  None  None  None  None  None  None  None    25
aaron anderson M    None  None  None  None  None  None  None  None    35
aaron benscher M      32  None  None  None  None  None  None  None  None
aaron butler   M    None  None  None  None    33    34  None  None  None
aaron carter   M    None  None  None  None  None  None  None  None  None

                    Time                                                      \
Year                2003             2004  2005  2006             2007  2008
Name           Sex
aaron allen    M    None             None  None  None             None  None
aaron anderson M    None             None  None  None             None  None
aaron benscher M    None             None  None  None  0 days 05:30:48  None
aaron butler   M    None             None  None  None             None  None
aaron carter   M    None  0 days 04:17:16  None  None             None  None

                                                                              \
Year                2009  2010             2011             2012  2014  2015
Name           Sex
aaron allen    M    None  None             None             None  None  None
aaron anderson M    None  None             None             None  None  None
aaron benscher M    None  None             None             None  None  None
aaron butler   M    None  None  0 days 04:35:30  0 days 05:03:01  None  None
aaron carter   M    None  None             None             None  None  None

                                    Num Marathons
Year                           2016
Name           Sex
aaron allen    M    0 days 03:28:52           1.0
aaron anderson M    0 days 05:05:22           1.0
aaron benscher M               None           1.0
aaron butler   M               None           2.5
aaron carter   M               None           1.0

In [362]:
def lastfilled(row):
    key = 2016
    while row.loc[key] == "None": 
        key = key-1
        if (key == 2013):
            key = key - 1
    return (2017 - key)
        
def timelast(row):
    key = 2016
    while row.loc[key] == "None": 
        key = key-1
        if (key == 2013):
            key = key - 1
    return row.loc[key]

data_pivot["Years Since Last"] = data_pivot.apply(lambda x: lastfilled(x["Rank"]), axis = 1)
data_pivot["Time of Last"] = data_pivot.apply(lambda x: lastfilled(x["Rank"]), axis = 1)
#Add in a column for years since last completed marathon
#And another one for time of last marathon

In [363]:
data_pivot.head()

                    Rank                                                  \
Year                2003  2004  2005  2006  2007  2008  2009  2010  2011
Name           Sex
aaron allen    M    None  None  None  None  None  None  None  None  None
aaron anderson M    None  None  None  None  None  None  None  None  None
aaron benscher M    None  None  None  None  2048  None  None  None  None
aaron butler   M    None  None  None  None  None  None  None  None  2109
aaron carter   M    None   803  None  None  None  None  None  None  None

                                           Age Category                    \
Year                2012  2014  2015  2016         2003  2004  2005  2006
Name           Sex
aaron allen    M    None  None  None   267         None  None  None  None
aaron anderson M    None  None  None  2286         None  None  None  None
aaron benscher M    None  None  None  None         None  None  None  None
aaron butler   M    2813  None  None  None         None  None  None  None
aaron carter   M    None  None  None  None         None    19  None  None

                                                                          \
Year                2007  2008  2009  2010  2011  2012  2014  2015  2016
Name           Sex
aaron allen    M    None  None  None  None  None  None  None  None    25
aaron anderson M    None  None  None  None  None  None  None  None    35
aaron benscher M      32  None  None  None  None  None  None  None  None
aaron butler   M    None  None  None  None    33    34  None  None  None
aaron carter   M    None  None  None  None  None  None  None  None  None

                    Time                                                      \
Year                2003             2004  2005  2006             2007  2008
Name           Sex
aaron allen    M    None             None  None  None             None  None
aaron anderson M    None             None  None  None             None  None
aaron benscher M    None             None  None  None  0 days 05:30:48  None
aaron butler   M    None             None  None  None             None  None
aaron carter   M    None  0 days 04:17:16  None  None             None  None

                                                                              \
Year                2009  2010             2011             2012  2014  2015
Name           Sex
aaron allen    M    None  None             None             None  None  None
aaron anderson M    None  None             None             None  None  None
aaron benscher M    None  None             None             None  None  None
aaron butler   M    None  None  0 days 04:35:30  0 days 05:03:01  None  None
aaron carter   M    None  None             None             None  None  None

                                    Num Marathons Years Since Last  \
Year                           2016
Name           Sex
aaron allen    M    0 days 03:28:52           1.0                1
aaron anderson M    0 days 05:05:22           1.0                1
aaron benscher M               None           1.0                1
aaron butler   M               None           2.5                1
aaron carter   M               None           1.0                1

                   Time of Last
Year
Name           Sex
aaron allen    M              1
aaron anderson M              1
aaron benscher M              1
aaron butler   M              1
aaron carter   M              1